/* ====== reset css =======*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* =============== */

html, body
{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 440px)
{
    .main
    {
        width: 100%;
        height: 100%;
        position: relative;
        background: url('./img/peppermint-\ BG.jpg');
        overflow: hidden;
    }


    .containerTopContent
    {
        width: 100%;
        height: 300px;
        position: absolute;
        top: 0;
        left: 0;
    }


    .wrapperTopContent
    {
        width: 100%;
        height: 300px;
        position: relative;
    }


    .imgNew
    {
        width: 70px;
        height: 45px;
        background: url('./img/peppermint-newBanner.png') no-repeat;
        background-size: contain;
        position: absolute;
        top: -50px;
        left: 20px;
        z-index: 10;
        transition: top .5s ease-out;
    }


    .titleOfTea
    {
        width: 95%;
        height: 300px;
        background: url('./img/pepermint\ -\ tagline-back.png') no-repeat;
        background-size: contain;
        position: absolute;
        top: -100%;
        left: 0;
        transition: top .5s ease-out;
    }


    .imgTitle
    {
        width: 250px;
        height: 200px;
        margin: 120px 0 0 40px;
        background: url('./img/pepermint\ -\ tagline.png') no-repeat;
        background-size: contain;
        transform: scale(0);
        transition: transform .5s ease-out;
    }


    /* ==================== bottom content ================================ */

    .bottomContent
    {
        width: 100%;
        height: 400px;
        position: absolute;
        bottom: 0;
        left: 0;
    }


    .wrapperBottomContent
    {
        width: 375px;
        height: 100%;
        margin: 0 auto 0 auto;
        position: relative;
        display: flex;
        align-items: center;
    }


    .mainSliderContainer
    {
        width: 100%;
        height: 220px;
        position: relative;
        z-index: 10;
    }


    .wrapperSlider
    {
        width: 100%;
        height: 220px;
        position: absolute;
        top: 0;
        left: 100%;
        transition: left .5s ease-out;
    }


    .containerSlider
    {
        width: 100%;
        height: 220px;
        display: flex;
        overflow: hidden;
        position: relative;
    }


    .containerSlider .item
    {
        width: 100%;
        height: 220px;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 0;
        left: -100%;
        opacity: 1;
        transition: left .4s ease-out, opacity .1s linear;
    }


    .containerSlider .item:nth-child(2)
    {
        left: 0%;
        opacity: 1;
    }


    .containerSlider .item:nth-child(3)
    {
        left: 100%;
        opacity: 1;
    }


    .containerSlider .item img
    {
        width: 220px;
        height: 220px;
    }


    .leftSlide,
    .rightSlide
    {
        position: absolute;
        top: 0;
        width: 50px;
        height: 100%;
        z-index: 100;
        transform: scale(0);
        transition: transform .7s ease-out;
    }


    .leftSlide
    {
        left: 0;
        background: url('./img/arrow\ left.png') no-repeat center center;
        background-size: 70%;
    }


    .rightSlide
    {
        left: calc(100% - 50px);
        background: url('./img/arrow\ right.png') no-repeat center center;
        background-size: 70%;
    }


    /* ============= background img =====================*/

    img.peach,
    img.raspberry,
    img.strawberry
    {
        position: absolute;
        transform: scale(0);
        opacity: 1;
        transition: transform .5s ease-out, opacity .1s linear;
    }


    /* =============== img for strawberry ================= */

    .strawberry.pepermint-1
    {
        left: 3px;
        top: 185px;
        width: 190px;
        height: 185px;
    }


    .strawberry.pepermint-2
    {
        left: 270px;
        top: calc(100% - 100px);
        width: 150px;
        height: 150px;
    }


    .strawberry.seed-1
    {
        left: calc(100% - 50px);
        top: 250px;
        width: 30px;
        height: 30px;
    }


    .strawberry.seed-2
    {
        left: calc(100% - 15px);
        top: 150px;
        width: 30px;
        height: 30px;
    }


    .strawberry.strawberry-1
    {
        left: -50px;
        top: -10px;
        width: 150px;
        height: 150px;
    }


    .strawberry.strawberry-2
    {
        left: 210px;
        top: 65px;
        width: 150px;
        height: 150px;
    }


    /* ================ img for raspberry =================== */

    .raspberry.lemon
    {
        left: -25px;
        top: 205px;
        width: 200px;
        height: 200px;
    }


    .raspberry.petal-2
    {
        left: 45px;
        top: 75px;
        width: 80px;
        height: 80px;
    }


    .raspberry.petal-3
    {
        left: calc(100% - 50px);
        top: -10px;
        width: 90px;
        height: 90px;
    }


    .raspberry.petal-4
    {
        left: 240px;
        top: 197px;
        width: 80px;
        height: 80px;
    }


    .raspberry.petal-5
    {
        left: -40px;
        top: 150px;
        width: 80px;
        height: 80px;        
    }


    .raspberry.raspberry-1
    {
        left: -30px;
        top: -30px;
        width: 130px;
        height: 160px;
    }


    .raspberry.raspberry-2
    {
        left: 195px;
        top: 40px;
        width: 100px;
        height: 150px;
    }


    .raspberry.raspberry-3
    {
        left: 225px;
        top: 100px;
        width: 130;
        height: 150px;
    }


    /* ================ img for peach =================== */

    .peach.orange
    {
        left: -35px;
        top: 205px;
        width: 200px;
        width: 200px;
    }


    .peach.peach-1
    {
        left: 205px;
        top: 38px;
        width: 120px;
        height: 150px;
    }


    div.google
    {
        width: 100%;
        height: 25px;
        display: flex;
        justify-content: center;
        position: absolute;
        top: calc(100% - 50px);
        opacity: 0;
        transition: opacity .7s ease-out;
    }


    div.google img
    {
        width: 150px;
        height: 25px;
    }
}




@media screen and (max-width: 374px)
{

}